.paddings{
    padding: 30px;
}

.margins{
    margin-left: 20px;
}



.cardclass2{
    margin: 10px;
    width: 23rem;
}

.cardclass3{
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 23rem;
}

.image{
    width: 50%;
    height: 70%;
    margin-left: 60px;
}


.margin{
    margin-left: 30px;
    margin-right: 30px;
}

.mysize{
    width: 200px;
    
}

.a {
    all: unset;
}

@media screen and (min-width: 480px) {
    .container_mobile{
        width: 100%;
    }
  }